## Test Data Prediction
This notebook will be used to open test.csv file and use designated model to predict the test data for kaggle submission.

In [21]:
%%bash
git branch

  cost1/feat1/wip
  cost1/feat2/wip
  cost1/wip
  feat1/score1/wip
  feat1/wip
  feat2/score1/wip
  feat2/wip
  feat3/wip
  feat4/wip
  feat5/wip
* master

In [8]:
%%bash
git add 'Test_data.ipynb'
git commit -m 'Modified some code'
git push --set-upstream origin master

[master fe7a857] Added some code
 1 file changed, 107 insertions(+), 24 deletions(-)
Branch master set up to track remote branch master from origin.

To github.com:Theerit/Kaggle_Titanic.git
   1fa90a9..fe7a857  master -> master

In [2]:
model_ver = 'feat2.sav'

In [3]:
%matplotlib inline 
import requests 
import StringIO
import zipfile
import numpy as np
import pandas as pd # pandas
import matplotlib.pyplot as plt # module for plotting 

# If this module is not already installed, you may need to install it. 
# You can do this by typing 'pip install seaborn' in the command line
import seaborn as sns 

import sklearn.model_selection
import pickle

/Users/theerit/anaconda/envs/ipykernel_py2/lib/python2.7/site-packages/IPython/html.py:14: ShimWarning: The `IPython.html` package has been deprecated. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)

Load data from csv file then prepare the data before inputting into the trained model.

In [18]:
test_ex = pd.read_csv('gender_submission.csv')
test_ex.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [19]:
test = pd.read_csv('test.csv')
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [20]:
test = test.drop('PassengerId',axis=1)
test = test.drop('Name',axis=1)

#To flag num attri features
num_attri = ['Age','SibSp','Parch','Fare']
cat_attri = [column for column in test if (column not in num_attri and column != 'Survived')]

#Creating dummy variable
for column in (cat_attri):
    #Lets just keep every categorical attributes for plotting
    tempDF = pd.get_dummies(test[column],prefix=column)
    test.drop(column,axis=1,inplace=True)
    test = test.join(tempDF)
test.head()

KeyError: 'PassengerId'

In [16]:
# load the model from disk
loaded_model = pickle.load(open(model_ver, 'rb'))
from sklearn.metrics import accuracy_score

accuracy_score(y_test,clf2.predict(X_test))
result = loaded_model.score(X_test, Y_test)
print(result)

NameError: name 'y_test' is not defined